html {
}

body {
  padding: 1.5em;
  text-align: left;
}

h3 {
  font-size: 120%;
  color: black;
  text-align: left;
  /*background: #fefeee;*/
  padding: 0.3em 0.3em 0.3em 0.5em;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #aaaa22;
}

h4 {
  font-size: 110%;
  margin: 1em 0 1em 0;
  padding-left: 0.2em;
  color: black;
  text-align: left;
  background: transparent;
  border-width: 0em 0em 1pt 0pt;
  border-style: dashed;
  border-color: #aaaaaa;
}

h5 {
  font-size: 100%;
  color: black;
  text-align: left;
  background: transparent;
  border-width: 0em 0em 1pt 0pt;
  border-style: dotted;
  border-color: #227744;
  margin-left: 0.4em;
}

